<%= stylesheet_link_tag 'posts' %>

<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

<footer>
<div class="wrapper">
  <p><small>&copy; 2024 twitter</twiiter></p>
  </div>
</footer>