<%= stylesheet_link_tag 'posts' %>

<header class="page-header">
 <h1><a href="<%= url_for(action: :index)%>">
  <img class="logo" src="<%= image_path('twitter.png') %>" alt="twitter"></a></h1>
 <nav>
  <ul class="nav">
    <li><%= link_to "HOME", posts_path %></li>
  </ul>
</nav>
</header>